body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: left;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  /*background-color: #f5f5f5;*/
  background-color: #bdb76b ;
}
.jumbotronTransp {
 padding: 30px;
 margin-bottom: 30px;
 font-size: 21px;
 font-weight: 200;
 line-height: 2.1428571435;
 color: inherit;
 background-color: DarkKhaki;
}
.navbar-custom {
    color: black;
    background-color: #bdb76b;
}
.nav.navbar-nav.navbar-right li a {
    color: blue;
}